<div id="backdrop">
</div>
<div class="modal">
  <button id="close">close</button>
  <h1 id="title">Sign Up</h1>
    <form id="auth-form">
        <hr>
        <div class="input-wrapper">
          <label for="first-name"  class="sign-up">First Name</label>
          <input required type="text" name="first-name" class="sign-up" id="first-name" placeholder="John">
        </div>
        <div class="input-wrapper">
          <label for="last-name"  class="sign-up">Last Name</label>
          <input required type="text" name="last-name" class="sign-up" id="last-name" placeholder="Doe">
        </div>
        <div class="input-wrapper">
          <label for="email">Email</label>
          <input required type="email" name="email" id="email" placeholder="email@domain.com">
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input minlength="6" maxlength="30" required type="password" name="password" id="password" placeholder="*****">
        </div>
        <div class="input-wrapper">
          <label for="confirm-password"  class="sign-up">Confirm Password</label>
          <input minlength="6" maxlength="30" required type="password"  class="sign-up" name="confirm-password" id="confirm-password" placeholder="*****">
        </div>
        <br>
        <hr>
        <button type="submit" value="Sign-Up" id="submit">Sign Up</button>
  </form>
    <footer id="terms">
        <p id="footer-auth-mode">By clicking the Sign Up button, you agree to our
            <a href="#"> Terms & Conditions</a> and
            <a href="#"> Privacy Policy </a></p>
    </footer>
</div>
<div id="outside">
  <p id="footer-already-or-dont">Already </p>
  <p>have an account?</p> <button id="login-or-signup" value="Login Here">Login Here</button>
</div>